/*** Estilos generales ***/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
  /* font-weight: 600; */
  
}
body {
  background-color: black !important;
 
 
  
}

/****************************************************************************************************************************************/

/*** NavBar ***/
.nav {
  background-color: #000000;
  z-index: 3;
}

.menuNav {
  color: #F5EDED !important;
  text-decoration: none;
  text-decoration: none;
  border-style: none;
 
  font-size: 1.5rem;

}


.menuNavActived{
  color: #D72323 !important;
  text-decoration: none;
  text-decoration: none;
  border-style: none;
  font-size: 1.5rem;
}

.nav .menuNav {
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 10px 15px; /* Espaciado interno de los enlaces */
  text-decoration: none; /* Quitar subrayado de los enlaces */
  
}
.custom-dropdown-menu {
  border: 1px solid #000000; /* Borde del menú */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra del menú */
  background-color: #000000; /* Color de fondo del menú */
 
}
.textDrpdown{
  font-size: 1.3rem;
}
.custom-dropdown-menu a:hover{
  background-color: #D72323;
  color: black !important;
  
}


.menuNav:hover {
  color: #D72323 !important;
  
}

.logo{
 
  height: 90px;
  
}
.titleLogo{
  font-family: "Cinzel", serif;
 
  font-size: 1.5rem;
}

/****************************************************************************************************************************************/

/*** Herosection ***/
.hero-section {
  position: relative;
  height: 70vh; /* Ajusta según tus necesidades */
  display: flex;
  align-items: center;
  background-image: url(".././img/spartan02.jpg");
  background-size: cover;
  overflow: hidden; /* Asegura que el contenido dentro no se desborde */
  box-shadow: inset 0 0 14px 16px rgba(7, 8, 8, 1);
  background-position: center 25%;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
    /* Capa oscura para reducir el brillo */
  z-index: 1; /* Asegura que la capa esté por debajo del contenido */
}

.hero-content {
  position: relative; /* Asegura que el texto esté por encima de la capa oscura */
  z-index: 2;
  color: #fff; /* Color del texto sobre la imagen */
}

.titleHero{
  font-size: 3rem;
}

.titleHero span{
  color: #D72323;
}

.linkAsesoramiento{
  align-self: center;
}

.btnAsesoramiento{
  background-color: #7c0000;
  color: #F5EDED;
  height: auto;
  font-size: 1.5rem;
  padding: 10px 30px;
  border-style: none;
 
 cursor: pointer;
 transition: transform 0.5s ease; 
 
} 

.btnAsesoramiento:hover {
  background-color: #D72323; 
  color:#000000; 
  
  transform: translateY(-10px);
}

/****************************************************************************************************************************************/

/*** Main ***/

.main {
  position: relative;
  height: auto; 
  display: flex;
  flex-direction: column;
  background-image: url(".././img/spartan10.jpg");
  background-size: cover;
  overflow: hidden; 
  box-shadow: inset 0 0 14px 14px rgba(7, 8, 8, 1);
  background-position: center;
 
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
    /* Capa oscura para reducir el brillo */
  z-index: 1; /* Asegura que la capa esté por debajo del contenido */
}

.main-content {

  z-index: 2;
  color: #F5EDED; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}
.conntIntroduccion{
  max-width: 700px;
  margin-top: 40px;
margin-bottom: 150px;
}
.conntIntroduccion p{
  font-size: 1.3rem;

}
.titleServices{
  margin-top: 5px;
  text-align: center;
  font-size: 3rem;
  
}

.contServices{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap:70px;
  flex-wrap: wrap;
   
}

.cardService p{
font-size: 1.5rem;
width: 160px;
}


.cardService a{
  text-decoration: none;
  color: #F5EDED;
}

.cardService a:hover{
  color: #D72323;
}

.titleCertificaciones{
  margin-top: 150px;
  font-size:  3rem;
}
.imgCertificado{
  height: 80px;
  margin-bottom: 50px;
  opacity: 85%;
}

/****************************************************************************************************************************************/

/*** Transicion Pages ***/

.page-enter {
  opacity: 0;
  transform: translateX(100%);
}
.page-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.page-exit {
  opacity: 1;
  transform: translateX(0);
}
.page-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms;
}

/****************************************************************************************************************************************/

/*** Contact Page ***/

.hero-contact {
  position: relative;
  height: auto; 
  display: flex;
  align-items: center;
  background-image: url(".././img/spartan05.jpg");
  background-size: cover;
  overflow: hidden; 
  box-shadow: inset 0 0 14px 16px rgba(7, 8, 8, 1);
  background-position: center;
}

.hero-contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1; 
}

.contact-content {
  position: relative; 
  z-index: 2;
  color: #fff; 
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 50px;
}

.titleContact{
  margin-top: 100px;
  font-size: 4rem;
  color: #F5EDED;
  text-align: center;
  
} 
.descriptionTitleContact{
  margin-bottom: 50px;
}

.form-control::placeholder{
  font-size: 3rem;
}









.contenedorDatos{
  margin-top: 50px;
    /* background-color: rgb(10, 10, 9, 1); */
  border-color: #7c0000;
  height: 400px;
  color: #F5EDED;
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.titleDatos{
  font-size: 1.5rem;
  font-weight: 600;
}

.textoDatos{
  
  font-size: 1.5rem;
  font-weight: normal;
}

.contenedorHorarios{
  margin-top: 50px;
    background-color: rgb(10, 10, 9, 1);
  height: 400px;
  color:#F5EDED ;
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btnDatos{
  color: #D72323;
  cursor: pointer;
}

.contact-form {
  max-width: 700px;
  margin: 0 auto;
}

.titleFormContact{
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 1.5rem;
  font-weight: normal;
}

.form-group {
  margin-bottom: 1rem;
  font-weight: 600;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  
  border-radius: 10px; /* Bordes redondeados */
  background-color: #25211e; /* Fondo negro */
  color: #F5EDED;
  outline: none;
  
  border: 2px solid transparent;
  transition: border-color 0.3s;

}



.form-control:focus {
  border-color: #D72323;
  background-color: rgb(10, 10, 9, 1);
  color: #F5EDED;
}
.btnSendContact{
  background-color: #7c0000;
  color: #F5EDED;
  border-style: none;
  border-radius: 10px;
  padding: 5px 15px;
  transition: transform 0.5s ease;
  font-weight: 600;
  
}


.btnSendContact:hover {
  background-color: #D72323;
  color: #000000;
}






/****************************************************************************************************************************************/

/*** Footer ***/

.footer {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #000000;
  color: #F5EDED;
  font-size: 1.2rem;
      
}

.contEmailTel{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.linkPortfolio{
  text-decoration: none;
  color: #F5EDED;
}

.linkPortfolio:hover {
  
  text-decoration: underline;
}




/****************************************************************************************************************************************/

/*** Testimonials ***/

.titleTestimonos{
  margin-top: 150px;
  font-size:  3rem;
}




.testimonials-carousel {

  width: 80%;
  margin: auto;
  padding: 10px;
}


.testimonial-card {
  background: rgb(6, 7, 7,1);
  background: transparent;
  height: auto;
  padding: 20px;
  border: 3px solid;
  border-color: #000000;
  text-align: center;
  margin-bottom: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
  
}

.testimonial-card p {
  font-size: 1.4rem;
  color: #F5EDED;
}

.testimonial-card h4 {
  margin-top: 10px;
  font-size: 2rem;
  color: #D72323;
}
.slick-slide {
  padding: 0 5px; 
}
.slick-prev,
.slick-next {
  display: none !important;
}
/****************************************************************************************************************************************/

/*** Whatsapp ***/



.whatsapp-icon {
  font-size: 40px;
  width: 40px;

  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  animation: bounce 0.5s infinite alternate;
  border-radius: 50%;
  background-color: #25d366;
  padding: 12px;
  z-index: 3;
  transition: ease 0.5s;
}

.whatsapp-icon:hover {
  background-color: #D72323;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}


/****************************************************************************************************************************************/

/*** Work ***/

.hero-work {
  position: relative;
  height: auto; /* Ajusta según tus necesidades */
  display: flex;
  align-items: center;
  background-image: url(".././img/spartan06.jpg");
  background-size: cover;
  overflow: hidden; /* Asegura que el contenido dentro no se desborde */
  box-shadow: inset 0 0 14px 16px rgba(7, 8, 8, 1);
  background-position: center 2%;
}

.hero-work::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
    /* Capa oscura para reducir el brillo */
  z-index: 1; /* Asegura que la capa esté por debajo del contenido */
}

.work-content {
  position: relative; /* Asegura que el texto esté por encima de la capa oscura */
  z-index: 2;
  color: #ffffff; /* Color del texto sobre la imagen */
  font-size: 1.5rem;
  margin-bottom: 50px;
}

 .titleWork{
  margin-top: 100px;
  font-size: 4rem;
  color: #F5EDED;
  text-align: center;
  
} 
.contNuestraCultura{
  max-width: 700px;
font-weight: normal;
  font-size: 1.3rem;
}
.titleCultura{
  margin-top: 50px;
    text-align: center;
    font-size: 2rem;
    color: #D72323;

}
.titleFormWork{
  font-size: 2rem;
  color:#D72323;
  margin-bottom: 20px;
  text-align: center;
}
.titleSparta{
  font-family: "Cinzel", serif;
  font-size: 1.5rem;
} 



/****************************************************************************************************************************************/

/*** About ***/
.hero-about {
  position: relative;
  height: auto; /* Ajusta según tus necesidades */
  display: flex;
  align-items: center;
  background-image: url(".././img/spartan11.jpg");
  background-size: cover;
  overflow: hidden; /* Asegura que el contenido dentro no se desborde */
  box-shadow: inset 0 0 14px 16px rgba(7, 8, 8, 1);
  background-position: center;
}

.hero-about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
    /* Capa oscura para reducir el brillo */
  z-index: 1; /* Asegura que la capa esté por debajo del contenido */
}

.about-content {
  position: relative; /* Asegura que el texto esté por encima de la capa oscura */
  z-index: 2;
  color: #fff; /* Color del texto sobre la imagen */
  font-size: 1.3rem;
  margin-bottom: 50px;

}

.titleAbout{
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 4rem;
  color: #F5EDED;
  text-align: center;
  
} 
.titleQuienes{
  text-align: center;
  font-size: 2rem;
  color: #D72323;
}

.contQuienes{
  
  min-height: 312px;
  margin-top: 23px;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0) 58%, rgba(48,0,0,1) 86%, rgba(0,0,0,8) 100%, rgba(124,0,0,8) 100%);
  padding: 50px;
 
  
}

/****************************************************************************************************************************************/

/*** Porteria Page ***/

.hero-porteria {
  position: relative;
  height: auto; 
  display: flex;
  align-items: center;
  background-image: url(".././img/gate.jpg");
  background-size: cover;
  overflow: hidden; 
  box-shadow: inset 0 0 14px 16px rgba(7, 8, 8, 1);
  background-position: center;
}

.hero-porteria::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1; 
}

.porteria-content {
  position: relative; 
  z-index: 2;
  color: #fff; 
  font-size: 1.3rem;
  font-weight: normal;
  margin-bottom: 50px;
}

.titlePorteria{
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 4rem;
  color: #F5EDED;
  text-align: center;  
} 

.imgPorteria {
  max-width: 100%;
  height: auto;
  max-height: 500px;
  margin-bottom: 30px;
  margin-top: 30px;
  opacity: 80%;
}

.textPorteria{   
  margin-top: 23px; 
} 

/****************************************************************************************************************************************/

/*** Limpieza de obra Page ***/
.hero-limpiezaObra {
  position: relative;
  height: auto; 
  display: flex;
  align-items: center;
  background-image: url(".././img/limpiezaobra01.jpg");
  background-size: cover;
  overflow: hidden; 
  box-shadow: inset 0 0 14px 16px rgba(7, 8, 8, 1);
  background-position: center;
}

.hero-limpiezaObra::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1; 
}

.limpiezaObra-content {
  position: relative; 
  z-index: 2;
  color: #fff; 
  font-size: 1.3rem;
  font-weight: normal;
  margin-bottom: 50px;
}

.titleLimpiezaObra{
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 4rem;
  color: #F5EDED;
  text-align: center;
  
} 
.textLimpiezaObra{
  margin-top: 20px;
}
.imgLimpiezaobra{
  max-width: 100%; 
  height: auto; 
  max-height: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
  opacity: 80%;
}
/****************************************************************************************************************************************/

/*** Seguridad y vigilancia Page ***/
.hero-seguridadVigilancia {
  position: relative;
  height: auto; 
  display: flex;
  align-items: center;
  background-image: url(".././img/seguridadvigilancia.jpg");
  background-size: cover;
  overflow: hidden; 
  box-shadow: inset 0 0 14px 16px rgba(7, 8, 8, 1);
  background-position: center;
}

.hero-seguridadVigilancia::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1; 
}

.seguridadVigilancia-content {
  position: relative; 
  z-index: 2;
  color: #fff; 
  font-size: 1.3rem;
  font-weight: normal;
  margin-bottom: 50px;
}

.titleseguridadVigilancia{
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 4rem;
  color: #F5EDED;
  text-align: center;
  
} 

.custom-img-size {
  max-width: 100%; 
  height: auto; 
  max-height: 400px; 
  margin-top: 30px;
  margin-bottom: 30px;
  
  opacity: 80%;
}

.contImgVigilancia {
  text-align: center;
}

/****************************************************************************************************************************************/

/*** Limpieza y mantenimiento Page ***/
.hero-limpiezaMantenimiento {
  position: relative;
  height: auto; 
  display: flex;
  align-items: center;
  background-image: url(".././img/limpiezamantenimiento01.jpg");
  background-size: cover;
  overflow: hidden; 
  box-shadow: inset 0 0 14px 16px rgba(7, 8, 8, 1);
  background-position: center;
}

.hero-limpiezaMantenimiento::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1; 
}

.limpiezaMantenimiento-content {
  position: relative; 
  z-index: 2;
  color: #fff; 
  font-size: 1.3rem;
  font-weight: normal;
  margin-bottom: 50px;
}

.titleLimpiezaMantenimiento{
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 4rem;
  color: #F5EDED;
  text-align: center;  
} 

.imgLimpieza{
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  max-height: 500px; /* Ajusta este valor según el tamaño máximo deseado */
  margin-top: 30px;
  margin-bottom: 30px;
  opacity: 80%;
}

.textLimpieza{
  margin-top: 23px;
}

/****************************************************************************************************************************************/
/*** Media Queries ***/


@media (max-width: 576px) {
  /*** Main page ***/

    .main {
      background-position: left; 
    }
  
    .hero-section {
      height: 40vh;
    }
    
    .titleHero {
      font-size: 2.2rem;
    }
    
    .btnAsesoramiento {
      margin-top: 20px;
      font-size: 1.5rem;
      padding: 5px 20px; 
    }
    
    .conntIntroduccion {
      margin-bottom: 100px;
    }

    .conntIntroduccion p {
      font-size: 1.2rem;
    }

    .titleServices {
      font-size: 2.2rem;
    }

    .titleTestimonos {
      margin-top: 100px;
      font-size: 2.2rem;
    }

    .titleCertificaciones {
      margin-top: 100px;
      font-size: 2.2rem;
    }
  /************************************************************************************/

  /*** About page ***/

    
    .titleAbout {
      margin-top: 30px;
      margin-bottom: 10px;
      font-size: 2.2rem;
    }
    .about-content {
      font-size: 1.2rem;
    }
  /*******************************************************************************************/

  /*** Work page ***/
   
    .titleWork {
      margin-top: 30px;
      
      font-size: 2.2rem; 
    }
   
    .work-content, .contNuestraCultura{
      font-size: 1.2rem;
    }
  /******************************************************************************************/

  /*** Contact page ***/

   
    .titleContact {
      margin-top: 30px;
      font-size: 2.2rem;
    
    }
    .contact-content {
      font-size: 1.2rem;
    }
    .textoDatos, .titleDatos {
      font-size: 1.2rem;
      
    }
    .contenedorDatos{
      margin-top: 0px;
    }
    .titleFormContact {
    margin-top: 0px;
      font-size: 1.2rem;
    }
  /*****************************************************************************/

  /*** Seguridad y vigilancia page ***/

    .titleseguridadVigilancia {
      margin-top: 30px;
      margin-bottom: 10px;
      font-size: 2.2rem;
    }

    .custom-img-size {
      max-height: 350px;
      margin-bottom: 20px;
    }

    .seguridadVigilancia-content {
      font-size: 1.2rem;
    }
  /******************************************************************************/

  /*** Porteria page ***/
 
    .titlePorteria {
      margin-top: 30px;
      margin-bottom: 10px;
      font-size: 2.2rem;
    }
    .imgPorteria {
      max-height: 350px;
    }
    
    .porteria-content {
      font-size: 1.2rem;
    }
  /***************************************************************************/

  /*** Limpieza y mantenimiento page ***/

    .hero-limpiezaMantenimiento{
      background-position: 30%;
    }

    .titleLimpiezaMantenimiento {
      margin-top: 30px;
      margin-bottom: 10px;
      font-size: 2.2rem;
    }

    .imgLimpieza {
      max-height: 350px;
      margin-bottom: 20px;
    }
    
    .limpiezaMantenimiento-content {
      font-size: 1.2rem;  
    } 
  /*************************************************************************/  

  /*** Limpieza de obra page ***/

    .titleLimpiezaObra {
      margin-top: 30px;
      margin-bottom: 10px;
      font-size: 2.2rem; 
    }
    .imgLimpiezaobra { 
      max-height: 350px;
      margin-bottom: 20px; 
    }

    .limpiezaObra-content {
      font-size: 1.2rem;
    }
  /***********************************************************/
}

@media (max-width: 992px) {
  .custom-dropdown-menu {
    margin-left: 20px;
  }
}