/*** Estilos generales ***/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
  font-weight: 600;
  
}
body {
  background-color: black !important;
 
 
  
}

/****************************************************************************************************************************************/

/*** NavBar ***/
.nav {
  background-color: #000000;
  z-index: 3;
}
.menuNav {
  color: #F5EDED !important;
  text-decoration: none;
  text-decoration: none;
  border-style: none;
 
  font-size: 1.5rem;

}
.nav .menuNav {
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 10px 15px; /* Espaciado interno de los enlaces */
  text-decoration: none; /* Quitar subrayado de los enlaces */
  
}
.custom-dropdown-menu {
  
  border: 1px solid #000000; /* Borde del menú */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra del menú */
  background-color: #000000; /* Color de fondo del menú */
 
}

.custom-dropdown-menu a:hover{
  background-color: #D72323;
  color: black !important;
  
}


.menuNav:hover {
  color: #D72323 !important;
  
}

.logo{
 
  height: 90px;
  
}
.titleLogo{
  font-family: "Cinzel", serif;
 
  font-size: 1.5rem;
}

/****************************************************************************************************************************************/
/*** Herosection ***/
.hero-section {
  position: relative;
  height: 70vh; /* Ajusta según tus necesidades */
  display: flex;
  align-items: center;
  background-image: url(".././img/spartan02.jpg");
  background-size: cover;
  overflow: hidden; /* Asegura que el contenido dentro no se desborde */
  box-shadow: inset 0 0 14px 16px rgba(7, 8, 8, 1);
  background-position: center 25%;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Capa oscura para reducir el brillo */
  z-index: 1; /* Asegura que la capa esté por debajo del contenido */
}

.hero-content {
  position: relative; /* Asegura que el texto esté por encima de la capa oscura */
  z-index: 2;
  color: #fff; /* Color del texto sobre la imagen */
}






 .titleHero{
  font-size: 4rem;
}

.titleHero span{
  color: #D72323;
}

.btnAsesoramiento{
  background-color: #7c0000;
  color: #F5EDED;
  height: auto;
  font-size: 1.5rem;
  padding: 10px 30px;
  border-style: none;
 align-self: center;
 cursor: pointer;
 transition: transform 0.5s ease; /* Transición suave */
 
} 

.btnAsesoramiento:hover {
  background-color: #D72323; /* Cambio de color de fondo al pasar el mouse */
  color:#000000; /* Cambio de color de texto al pasar el mouse */
  
  transform: translateY(-10px);
}

/****************************************************************************************************************************************/
/*** Main ***/

.main {
  position: relative;
  height: auto; /* Ajusta según tus necesidades */
  display: flex;
  flex-direction: column;
  background-image: url(".././img/spartan04.jpg");
  background-size: cover;
  overflow: hidden; /* Asegura que el contenido dentro no se desborde */
  box-shadow: inset 0 0 14px 14px rgba(7, 8, 8, 1);
  background-position: center 1%;
 
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Capa oscura para reducir el brillo */
  z-index: 1; /* Asegura que la capa esté por debajo del contenido */
}


.main-content {

  z-index: 2;
  color: #F5EDED; /* Asegúrate de que el texto sea visible */
  

}

.titleServices{
  margin-top: 5px;
  text-align: center;
  font-size: 3.5rem;
  
}

.contServices{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap:70px;
  flex-wrap: wrap;
  cursor: pointer;
 
}
.cardService p{
font-size: 1.5rem;
}

.cardService:hover{
  transform: scale(1.2);
  color: #D72323;
}






/****************************************************************************************************************************************/
/*** Transicion Pages ***/

.page-enter {
  opacity: 0;
  transform: translateX(100%);
}
.page-enter-active {
  opacity: 1;
  transform: translateX(100%);
  transition: opacity 300ms, transform 300ms;
}
.page-exit {
  opacity: 1;
  transform: translateX(0);
}
.page-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms;
}

/****************************************************************************************************************************************/

/*** Contact Page ***/

.hero-contact {
  position: relative;
  height: 60vh; /* Ajusta según tus necesidades */
  display: flex;
  align-items: center;
  background-image: url(".././img/spartan01.jpg");
  background-size: cover;
  overflow: hidden; /* Asegura que el contenido dentro no se desborde */
  box-shadow: inset 0 0 14px 16px rgba(7, 8, 8, 1);
  background-position: center 25%;
}

.hero-contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Capa oscura para reducir el brillo */
  z-index: 1; /* Asegura que la capa esté por debajo del contenido */
}

.contact-content {
  position: relative; /* Asegura que el texto esté por encima de la capa oscura */
  z-index: 2;
  color: #fff; /* Color del texto sobre la imagen */
  font-size: 2rem;
}

.titleContact{
  font-size: 3.5rem;
  color: #F5EDED;
  text-align: center;
  
} 


/* .imgContact{
  background-image: url("./img/spartan01.jpg");
 opacity: 0.3;
height: 690px;
background-position: center 25%;
background-repeat: no-repeat;
background-size: cover;

  box-shadow: inset 0 0 14px 14px rgba(0, 0, 0, 1.5);



}

.titleContact{
  font-size: 3.5rem;
  color: #F5EDED;
  text-align: center;
 
  top: 40%;
  position: absolute;
  
} */

/****************************************************************************************************************************************/

/*** Footer ***/

.footer {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #000000;
  color: #F5EDED;
  font-size: 1.2rem;
      
}

.contEmailTel{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.linkPortfolio{
  text-decoration: none;
  color: #F5EDED;
}

.linkPortfolio:hover {
  
  text-decoration: underline;
}




/****************************************************************************************************************************************/
.titleTestimonos{
  margin-top: 250px;
  font-size:  3.5rem;
}



/* En tu archivo CSS (e.g., App.css o TestimonialsCarousel.css) */
.testimonials-carousel {

  width: 80%;
  margin: auto;
  padding: 10px;
  margin-bottom: 500px;
}


.testimonial-card {
  background: rgb(6, 7, 7,1);
  background: transparent;
  height: auto;
  padding: 20px;
  border: 3px solid;
  border-color: #000000;
  text-align: center;
  margin-bottom: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
  
}

.testimonial-card p {
  font-size: 1.4rem;
  color: #F5EDED;
}

.testimonial-card h4 {
  margin-top: 10px;
  font-size: 2rem;
  color: #D72323;
}
.slick-slide {
  padding: 0 5px; /* Ajusta este valor según el espacio que desees */
}
.slick-prev,
.slick-next {
  display: none !important;
}